.columna_izquierda {
    float:left; /* Alineación a la izquierda */
    width:250px;
    padding:10px;
}
.columna_central {
    margin-left:350px; /* Espacio para la columna izquierda */
    margin-right:450px; /* Espacio para la columna derecha */
    padding:10px;
}
.columna_derecha {
    float:right; /* Alineación a la derecha */
    width:270px;
    padding:10px;
}